<form class="form-horizontal" name="registerForm" ng-controller="registerCtrl" novalidate>
    <div class="form-group">
        <label class="control-label col-xs-2">First Name</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="First Name" ng-model="register.firstName" name="firstName" required ng-maxlength="10" ng-minlength="4">
            <span ng-show=" registerForm.firstName.$dirty && registerForm.firstName.$error.required">First Name Required.</span>
            <span ng-show="registerForm.firstName.$dirty && registerForm.firstName.$error.maxlength">
            First Name should not exceed 10 characters.</span>
            <span ng-show="registerForm.firstName.$dirty && registerForm.firstName.$error.minlength">
            First Name should not be less than 4 characters.</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">Last Name</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="Last Name" ng-model='register.lastName'>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">User Name</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" name="username" placeholder="User Name" ng-model='register.userName' checkuser>
        </div>
        <span ng-show="registerForm.username.$error.checkuser && registerForm.username.$dirty">User Exists please try other user name</span>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-2">Email</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="Email" name="registerEmail" ng-model='register.email' ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i">
        </div>
        <span ng-show="registerForm.registerEmail.$error.pattern && registerForm.registerEmail.$dirty">Enter a valid Email</span>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">Age</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="Age" ng-model='register.age'>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-2">Gender</label>
        <div class="col-xs-4">
            <input type="radio" value="M" ng-model="register.gender">M
            <input type="radio" value="F" ng-model="register.gender">F
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">Country</label>
        <div class="col-xs-4">
            <select class="form-control" ng-model="selectedCountry" ng-options="country.code for country in countries">
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">Phone Number</label>
        <div class="col-xs-1">
            <input type="text" class="form-control" ng-model="selectedCountry.phonecode" readonly>
        </div>
        <div class="col-xs-3">
            <input type="text" class="form-control" ng-model="register.phoneNumber" number-only maxlength="10">
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-2">Street Name</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="Street Name" ng-model="register.address.streetName">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-2">Zipcode</label>
        <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="Zip code" ng-model="register.address.zipcode" number-only maxlength="4">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="register.agree"> Agree Terms and Conditions</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-4">
            <button type="submit" class="btn btn-primary" ng-disabled="!registerForm.$valid" custom-click="registerUser()">Register</button>
        </div>
    </div>
</form>
